default:
  scopes:
    - https://www.googleapis.com/auth/analytics.readonly

  sites:
    - name: <any name>
      viewid: <put_your_viewid_here>
      credsfile: <location of creds file>

  query:
    - name: users
      date:
        - start: today
          end: today
      metrics:
        - ga:users
        - ga:newUsers
        - ga:sessionsPerUser
      dimensions:
        - ga:country
        - ga:userType

    - name: sessions
      date:
        - start: today
          end: today
      metrics:
        - ga:sessions
        - ga:bounces
        - ga:sessionDuration
        - ga:avgSessionDuration
        - ga:hits
      dimensions:
        - ga:sessionDurationBucket

    - name: pageviews
      date:
        - start: today
          end: today
      dimensions:
        - ga:country
      metrics:
        - ga:pageviews
        - ga:pageviewsPerSession

    - name: speed
      date:
        - start: today
          end: today
      dimensions:
        - ga:country
      metrics:
        - ga:avgPageLoadTime
        - ga:avgDomainLookupTime
        - ga:avgPageDownloadTime
        - ga:avgRedirectionTime
        - ga:avgServerConnectionTime
        - ga:avgServerResponseTime
