default:

  sites:
    - viewname: <viewname>
      viewid: <viewid>
      credsfile: <path_to_credsfile>
      scopes:
        - https://www.googleapis.com/auth/analytics.readonly

  query:
    - name: ga_users
      date:
        - start: today
          end: today
      metrics:
        - ga:users
        - ga:newUsers
        - ga:sessionsPerUser
      dimensions:
        - ga:country
        - ga:userType

    - name: ga_sessions
      date:
        - start: today
          end: today
      metrics:
        - ga:sessions
        - ga:bounces
        - ga:sessionDuration
        - ga:avgSessionDuration
        - ga:hits
      dimensions:
        - ga:sessionDurationBucket

    - name: ga_pageviews
      date:
        - start: today
          end: today
      dimensions:
        - ga:country
      metrics:
        - ga:pageviews
        - ga:pageviewsPerSession

    - name: ga_speed
      date:
        - start: today
          end: today
      dimensions:
        - ga:country
      metrics:
        - ga:avgPageLoadTime
        - ga:avgDomainLookupTime
        - ga:avgPageDownloadTime
        - ga:avgRedirectionTime
        - ga:avgServerConnectionTime
        - ga:avgServerResponseTime
